
MONGO_URI=mongodb://127.0.0.1:27017/smartdrop
JWT_SECRET=smartdrop-development-secret-key-2026-very-secure
JWT_EXPIRE=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqzocuqbh
CLOUDINARY_API_KEY=469323315825944
CLOUDINARY_API_SECRET=dkHtCH0fMSY-TXy-J8Kva66JMpw

# Razorpay
RAZORPAY_KEY_ID=rzp_test_Sg33zOSaGjZd4s
RAZORPAY_KEY_SECRET=KN3O45Igf2eEMw5sRTw84ZH7

# Email (Gmail SMTP)
EMAIL_SERVICE=gmail
EMAIL_USER=shanmugam2020s@gmail.com
EMAIL_PASS=shanmugam2000z@gmail.com



# Admin
SUPERADMIN_EMAIL=shanmugam2020s@gmail.com
SUPERADMIN_PASSWORD=admin123

